%div.well
  証明書をダウンロードできます。

%form#download-form.form-horizontal{ :method => 'post', :action => url("/download/#{@user.token}") }
  %input{ :type => 'hidden', :name => 'pkcs12_password'}
  %fieldset
    %div.control-group
      %label.control-label{ :for => 'country-name' }= t.field.country_name
      %div.controls= @user.country_name
    %div.control-group
      %label.control-label{ :for => 'privince-name' }= t.field.province_name
      %div.controls= @user.province_name
    %div.control-group
      %label.control-label{ :for => 'locality-name' }= t.field.locality_name
      %div.controls= @user.locality_name
    %div.control-group
      %label.control-label{ :for => 'organization-name' }= t.field.organization_name
      %div.controls= @user.organization_name
    %div.control-group
      %label.control-label{ :for => 'organization-unit-name' }= t.field.organization_unit_name
      %div.controls= @user.organization_unit_name
    %div.control-group
      %label.control-label{ :for => 'common-name' }= t.field.common_name
      %div.controls= @user.common_name
    %div.control-group
      %label.control-label{ :for => 'email-address' }= t.field.email_address
      %div.controls= @user.email_address
    %div.control-group
      %label.control-label{ :for => 'expires' }= t.field.expires
      %div.controls= l(@user.expires)
    %div.control-group
      %label.control-label{ :for => 'device_name' }= t.field.device_name
      - @user.user_devices.each do |device|
        %div.controls= device.name
  %div.form-actions
    %button#download-button.btn.btn-success.btn-large{ :type => 'button' } Download
    %div#password-view.alert.alert-success{ :style => "display:none" }
      %h4#pkcs12-password
      = t.message.pkcs12_password
%div.well
  %form{ :method => "post", :action => url("/download/ca", false) }
    %button.btn{ :type => "submit" } ルート証明書      

:javascript
  $(document).ready(function() {
    function generate_password(len) {
      var chars = "1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%^&*()_-=+;:'.,<>/~";
      var passwd = "";
      for(var i=0; i< len; i++) {
        passwd += chars[Math.floor(Math.random() * chars.length)];
      }
      return passwd;
    }

    $("button#download-button").one("click", function() {
      var pkcs12_password = generate_password(8);
      $("form#download-form :hidden[name=pkcs12_password]").val(pkcs12_password);
      $("form#download-form").submit();
      $("button#download-button").hide()
      $("#password-view").show().find("#pkcs12-password").html(pkcs12_password);
    });
  });
