%table.table
  %tr
    %th= t('field.access_datetime')
    %th= t('field.access_username')
    %th= t('field.access_device')
    %th= t('field.access_purpose')
  - @access_logs.each do |access_log|
    %tr.entry
      %td= access_log.session_started_at.strftime("%Y/%m/%d %H:%M:%S")
      %td= access_log.user_name
      %td= access_log.device_name
      %td= access_log.purpose

.pagination= @access_logs.pager.to_html url(:admin_audit, :access_log), :size => 5
