%div.well= t.message.secret_question_guide
%form.form-horizontal{ :method => "post", :action => url("/user/secret", false) }
  %fieldset
    %div.control-group
      %label.control-label{ :for => "secret-question" }= t.field.secret_question
      %div.controls
        %input#secret-question.input-xlarge{ :type => "text", :name => "secret[question]", :value => @secret.question }
        - if @secret.errors[:question]
          %span.help-inline= @secret.errors[:question]
        %p.help-block= t.message.secret_question_hint
    %div.control-group
      %label.control-label{ :for => "secret-answer" }= t.field.secret_answer
      %div.controls
        %input#secret-answer.input-xlarge{ :type => "text", :name => "secret[answer]" }
        - if @secret.errors[:answer]
          %span.help-inline= @secret.errors[:answer]
    %div.form-actions
      %button.btn.btn-primary{ :type => "submit" }= t.button.register

:javascript
  $(document).ready(function() {
    $(":text#secret-question").popover({
      placement: 'right',
      trigger: 'focus',
      title: 'Hint',
      content: '回答はかな/漢字含めて、完全一致する必要があるので、質問に「〜かな名は?」'
      	       + 'などと入れておくとよいかもしれません。'
    });
  });
