%div.well= t('message.new_user')

- if flash[:notice]
  .alert.alert-success= flash[:notice]

- if flash[:error]
  .alert.alert-error= flash[:error]

= form_for :request_cert, url(:request_cert, :new), :class => "form-horizontal" do |f|
  = field_set_tag do
    = partial 'admin_user/form', :locals => {:f => f, :user => @request_cert }
  %div.form-actions
    %button.btn.btn-primary{ :type => 'submit' }= t('button.register')
