%div.well= t('message.secret_question_guide')

= flash_tag :error, :class => "alert alert-error"
  

= form_for :secret, url(:user, :secret), :class => "form-horizontal" do |f|
  %fieldset
    = control_group_for :secret, :question do
      %label.control-label{ :for => "secret-question" }= t('field.secret_question')
      %div.controls
        = f.text_field :question, :class => "input-xlarge"
        %span.help-inline= f.error_message_on :question
        %p.help-block= t('message.secret_question_hint')

    = control_group_for :secret, :answer do
      %label.control-label{ :for => "secret-answer" }= t('field.secret_answer')
      %div.controls
        = f.text_field :answer, :class => "input-xlarge"
        %span.help-inline= f.error_message_on :answer
        
    %div.form-actions
      %button.btn.btn-primary{ :type => "submit" }= t('button.register')

:javascript
  $(function() {
    $(":text#secret_question").popover({
      placement: 'right',
      trigger: 'focus',
      title: 'Hint',
      content: '#{t("message.secret_answer_hint")}
    });
  });
