%h1 List of Groups

= flash_tag :notice, :class => "alert alert-success"
= flash_tag :error,  :class => "alert alert-error"

-if @user.admin? 
  %p.pull-right
    = link_to t('button.new_group'), url(:admin_group, :new), :class => "btn btn-primary"

%table.table
  %tr
    %th= t('field.group_name')
    %th= t('field.description')
  - @groups.each do |group|
    %tr.entry
      %td
        = link_to group.name, url(:admin_group, :show, :name => group.name)
      %td= group.description
