!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title Cert Publisher
    = stylesheet_link_tag 'bootstrap', 'application', 'select2', 'elusive-webfont'
    = javascript_include_tag 'jquery', 'jquery-ujs', 'bootstrap', 'select2.min'
    - if content_for? :assets
      = yield_content :assets
    :javascript
      $.ajaxSetup({headers: {'X-CSRF-TOKEN': '#{session[:csrf]}'}});
  %body{ :style => 'padding-top: 90px;' }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to url(:user, :index), :class => "brand" do
            %i.icon-key
            Cert Publisher
          .nav-collapse.collapse
            %ul.nav.nav-pills.pull-right
              - if @user
                %li.dropdown
                  %a{:href => "#", :title => "Settings", :data => {:toggle => "dropdown"}}
                    %i.icon-cogs
                    Settings
                  %ul.dropdown-menu
                    %li
                      = link_to url(:user, :secret) do
                        %i.icon-key
                        Secret question
                    - if @user.members(:role => :manager).count > 0
                      %li
                        = link_to url(:admin_group, :index) do
                          %i.icon-group
                          My group
              - if @user && @user.admin?
                %li.dropdown
                  %a{:href => "#", :title => "Admin", :data => {:toggle => "dropdown"}}
                    %i.icon-cogs
                    Admin
                    - if RequestCert.count + RequestExtension.count > 0
                      %span.badge.badge-important
                        = RequestCert.count + RequestExtension.count
                  %ul.dropdown-menu
                    %li
                      = link_to url(:admin_user, :index) do
                        %i.icon-user
                        User
                        - if RequestCert.count > 0 
                          %span.badge.badge-important
                            = RequestCert.count
                    %li
                      = link_to url(:admin_group, :index) do
                        %i.icon-group
                        Group
                    %li
                      = link_to url(:admin_audit, :access_log) do
                        %i.icon-eye-open
                        Audit
                    %li
                      = link_to url(:inquiry, :index) do
                        %i.icon-question
                        Inquiry
                    - if RequestExtension.count > 0
                      %li
                        = link_to url(:admin_user, :list_extension) do
                          %i.icon-resize-horizontal
                          Expires
                          %span.badge.badge-important
                            = RequestExtension.count
              - if @user
                %li
                  = link_to url(:inquiry, :new) do
                    %i.icon-question
                    Inquiry
    .container
      =yield

